.signin {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin .header-image {
  background-image: url("./signin.png");
  width: 30%;
  height: 30%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-title {
  text-shadow: 1px 1px 1px #ff564f;
}
